<template>
    <div>
        <product-lists></product-lists>
    </div>
</template>

<script>
import ProductLists from '@/components/ProductLists'
export default {
    components: {
        ProductLists
    }
}

</script>

<style scoped>

</style>
