<template>
    <div class="row mt-5">
        <div class="col-4">
            <img class="w-100" :src="getSingleProduct.image" alt="">
        </div>
        <div class="col-8">
            <h1>{{ getSingleProduct.title }}</h1>
            <strong>{{ getSingleProduct.price }} TK</strong>
            <p>{{ getSingleProduct.description }}</p>
            <div class="d-flex">
                <input value="1" v-model="quantity" class="col-1 mr-2" type="text">
                <button @click="addCart()" class="btn btn-primary">Add to Cart</button>
            </div>

        </div>
    </div>
</template>

<script>
import {mapState, mapActions} from 'vuex'
export default {
    data()
    {
        return {
            id: this.$route.params.id,
            quantity: 1,
        }
        
    },

computed: {
    ...mapState({
        getSingleProduct: (state) => state.product.product // ih you set up module
    })

//   ...mapState({
//         getSingleProduct: 'product'
//     })

    // getSingleProduct()
    // {
    //     return this.$store.state.product;
    // }
},

    mounted(){
        this.getSingleProductFromApi(this.id)
        // this.$store.dispatch('getSingleProductFromApi', this.id)
    },
    methods: {
        ...mapActions('cart', ['addToCart']),
        ...mapActions('product',['getSingleProductFromApi']),

        addCart()
        {
            this.addToCart({
                product: this.getSingleProduct,
                quantity: this.quantity
            });
        }

        // addToCart(){
        //     this.$store.dispatch('addToCart', {
        //         product: this.getSingleProduct,
        //         quantity: this.quantity
        //     })
        // }
    }
}
</script>


