<template>
  <div class="app-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
             <router-link class="nav-link" to="/">Home</router-link>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Products</a>
            </li>
          </ul>
          <div class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ cartProductCount }} Cart Item
                </a>
                <div @click="$event.stopPropagation()">
                  <mini-cart></mini-cart>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import MiniCart from '@/components/MiniCart'

import {mapGetters} from 'vuex'

export default {
  name: 'AppHeader',
  components: {
    MiniCart
  },
  props: {
    msg: String
  },
  computed: {


  ...mapGetters('cart',['cartProductCount']) // here cart is a module name and if you use namespaced on module

 /* ...mapGetters({
    cartProductCount: 'cart/cartProductCount'
  }) */ 


    // new 
    // ...mapGetters({
    //     cartProductCount: 'cartProductCount' // if this function name and getters name not same name
    // })

/*...mapGetters(['cartProductCount']) // if name is same */


    // old
    // cartProductCount(){
    //   return this.$store.getters.cartProductCount;
    // }
  }
}
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
