<template>
    <div class="dropdown-menu" style="min-width:320px; right:0; left: auto;" aria-labelledby="navbarDropdown">
        
        <div class="d-flex justify-content-between p-3 mb-2"
        v-for="cartProduct in cartProducts" :key="cartProduct.product.id">
            <div>
                <strong>{{ cartProduct.product.title }}</strong>
                <p>{{  cartProduct.quantity  }} * {{ cartProduct.product.price }} TK</p>
            </div>
            <div>
                <a href="#" @click.prevent="removeSingleProductFromCart(cartProduct.product)" class="btn btn-sm btn-danger">Remove</a>
            </div>
        </div>


        <hr>
        <div class="d-flex p-3 justify-content-between">
            <strong>Total </strong>
            <p>{{ totalPriceFromcart }} TK</p>
        </div>
        <hr>
        <p class="text-center"> <a href="#" @click.prevent="removeAllFromCart">Clear All</a></p>
    </div>
</template>


<script>

import {mapState, mapGetters, mapActions} from 'vuex'
export default {
    computed: {


        ...mapState({
            cartProducts: state => state.cart.carts, // if you use name space in module but name is not same(state name and methods name)
        }),


        /* ...mapState({
            cartProducts: state => state.cart.carts, // if not same name it will be look like this
        }),
 */
     /*...mapState({
            cartProducts: 'carts', // if not same name it will be look like this
        }), */

        // ...mapGetters({
        //     totalPriceFromcart: 'totalPriceFromcart' // is not same name
        // })
    
   /*  ...mapGetters(['totalPriceFromcart']) // if name is  same */


    ...mapGetters({
        totalPriceFromcart: 'cart/totalPriceFromcart' // access to module
    })



        // cartProducts(){
        //     return this.$store.state.carts;
        // },
        // totalPriceFromcart()
        // {
        //     return this.$store.getters.totalPriceFromcart;
        // }
    },
    mounted()
    {
        this.comeCartItemFromApi();
    },
    methods: {
       

      /*   ...mapActions({
            removeAllFromCart: 'cart/removeAllFromCart',
            comeCartItemFromApi: 'cart/comeCartItemFromApi'
        }),
 */

        ...mapActions('cart',['removeSingleProductFromCart', 'removeAllFromCart', 'comeCartItemFromApi'])

       // old code
        // removeSingleProductFromCart(product)
        // {
        //     this.$store.dispatch('removeSingleProductFromCart', product)
        // },
        // removeAllFromCart()
        // {
        //     this.$store.dispatch('removeAllFromCart')
        // }
    }
}
</script>











