<template>
    <div class="notification">
        <notification-messages 
         v-for="notification in notifications"
         :key="notification.id"
         :notification="notification"
         ></notification-messages>    
    </div>
</template>

<script>
import NotificationMessages from '@/components/NotificationMessages'
import {mapState} from 'vuex'
export default {
    components: {
        NotificationMessages
    },
    computed: mapState(['notifications'])
}
</script>


<style scoped>
.notification{
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 15px;
}
</style>


