<template>
    <div :class="alerType" class="alert alert-dismissible fade show" role="alert">
    <strong>{{ notification.type }}!</strong>{{ notification.message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>    
</template>



<script>

import {mapActions} from 'vuex'

export default {
    props: ['notification'],
    data(){
        return {
            timeout: null
        }
    },
     computed: {
        alerType(){
            return 'alert-' + this.notification.type;
         }
     },
     created(){
         this.timeout = setTimeout(() => {
             this.removeErrorMessage(this.notification)
         }, 3000)
     },

     methods: {
         ...mapActions(['removeErrorMessage'])
     },
     beforeDestroy()
     {
         clearTimeout(this.timeout)
     }
}
</script>



