<template>
    <div class="d-flex align-items-stretch flex-wrap">
        <single-product-card v-for="product in products" :key="product.id" :product="product"></single-product-card>
    </div>
</template>

<script>
import SingleProductCard from '@/components/SingleProductCard'

import {mapState, mapActions} from 'vuex'

export default {
    components: {
        SingleProductCard   
    },

    computed:{


        ...mapState('product',['products']) // here product is a module name

       /*  ...mapState({
            products:(state) => state.product.products // if set module that you can access
        }) */


    //    ...mapState(['products'])

        // old way
        // products()
        // {
        //    return this.$store.state.products;
        // }
    },
    mounted()
    {
        this.getProductsFromApi()
        // this.$store.dispatch('getProductsFromApi');  
    },

    methods: {

        /* ...mapActions({
            getProductsFromApi: 'cart/getProductsFromApi'
        }), */

        ...mapActions('product',['getProductsFromApi']) // if the same module
    }
    
}
</script>




