<template>
<div class="col-3 mt-4">
    <div class="card" style="width: 16rem;">
        <img class="card-img-top" :src="product.image" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"> <router-link :to="{name: 'product-detail', params:{id: product.id}}">{{ product.title }}</router-link> </h5>
            <p>{{ product.price }} TK</p>
            <p class="card-text">{{ product.description }}</p>
            <a href="#" class="btn btn-primary" @click.prevent="addCart()">Add to Cart</a>
        </div>
    </div>
</div>
</template>


<script>

import {mapActions} from 'vuex'

export default {
    props: ['product'],


    methods: {
        ...mapActions('cart',['addToCart']),
        addCart()
        {
            this.addToCart({
                product: this.product,
                quantity: 1
            })
        }
            

        //old
        // addToCart(){
        //     this.$store.dispatch('addToCart', {
        //         product: this.product,
        //         quantity: 1
        //     });
        // }
    }

}
</script>

