<template>
  <div id="app">
  <app-header></app-header>
  <div class="container">
    <router-view></router-view>
     <notification-list></notification-list>
  </div>
  </div>
</template>

<script>

import AppHeader from '@/components/AppHeader'
import NotificationList from '@/components/NotificationList'

export default {
  name: 'App',
  components: {
    AppHeader,
    NotificationList
  }
}
</script>

<style>

</style>
